@model DemoProjectSem2.Models.TblUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="UserFname" class="control-label"></label>
                <input asp-for="UserFname" class="form-control" />
                <span asp-validation-for="UserFname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLname" class="control-label"></label>
                <input asp-for="UserLname" class="form-control" />
                <span asp-validation-for="UserLname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDob" class="control-label"></label>
                <input asp-for="UserDob" class="form-control" />
                <span asp-validation-for="UserDob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserGender" class="control-label"></label>
                <input asp-for="UserGender" class="form-control" />
                <span asp-validation-for="UserGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCityId" class="control-label"></label>
                <select asp-for="UserCityId" class="form-control" asp-items="ViewBag.UserCityId"></select>
                <span asp-validation-for="UserCityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserMobile" class="control-label"></label>
                <input asp-for="UserMobile" class="form-control" />
                <span asp-validation-for="UserMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
